 @charset"UT-8";
 
 body{
  bakground-color:#fbf9cc;
 }
 a{
  color:#df4839;
 }
 a:hover{
  color:#ff705b;
 }
 
  h1{
  font-size:1.75em;
  color:#3399cc;
  text-align:center;
  }
  
  h2{
  font-size:1.25em;
  color:#fffff;
  }
  p{
  font-size:0.8em;
  bacground-color:#3399cc;
  color:#333333
  }
  
  h1 span{
   color:#d0e35b;

  }
  
  #kuro{
   brounder-top:#6fbb9a 1px dotted;
   
   text-align:center;
  }
  
  .greeting{
   bordr-top:#6fbb9a 1ex dotted;
   text-align:center;
  }
  
  .cat{
   color:#2793a7;
  }
  
